*{
    margin: 0;
    padding: 0;
    font: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}

.nav-logo{
    height: 50px;
    height: 100px;
}

.logo{
    background-image: url("images\amazon_logo.png");
    height: 50px;
    width: 100px
}



