* {
  margin: 0;
  /* padding: 0; */
  font: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

/* box 1 */

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("images\\amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}


/* box 2 */

.firstadd {
  font-size: 0.75rem;
  color: #cccccc;
  margin-left: 18px;
}

.secondadd {
  font-size: 0.875rem;
  margin-left: 3px;
}
.add_icon {
  display: flex;
  align-items: center;
}
